.main {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}

.a {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.b {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.c {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.d {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.e {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.f {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin: auto;
    margin-left: auto;
}

.g {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.h {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.i {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.j {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.k {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.l {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.m {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.n {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.o {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.p {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.q {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.r {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.s {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.t {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.u {
    background-color: yellow;
    width: 200px;
    height: 250px;
    border-radius: 20%;
    margin-top: auto;
    margin-left: auto;
}

.try {
    background-color: white;
    width: 70px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10%;
}